node_modules/
.expo/
.expo-shared/
dist/
web-build/
ios/build/
android/.gradle/
android/build/
android/app/build/
android/.kotlin/
.env
.env.*
!.env.example
*.log
npm-debug.*
yarn-debug.*
yarn-error.*
.DS_Store
*.pem
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
*.jks
google-services.json
GoogleService-Info.plist
